/ltximg/
*~$
*\\~
/Readme.tex
/Readme.tex~
/Readme.org~
/_minted-Readme/
/#Readme.tex#
/Emacs-TeQ.aux
/Emacs-TeQ.log
/Emacs-TeQ.tex
/Emacs-TeQ.toc
/Emacs-TeQ.out
*~
*.tex
/01-Alphabets-Greek-Variables.pdf
/02-Symbols.pdf
/03-Functions-Sum-Integral-Differential.pdf
/04-Structural.pdf
/_minted-Combiner/
/_minted-Emacs-TeQ/
/Resources/*.pdf
/Resources/ltximg/
/Readme.pdf
